---

- name: Install OpenShift Gitops
  ansible.builtin.include_tasks: openshift_gitops.yml

- name: Install NooBaa
  ansible.builtin.include_tasks: noobaa.yml

- name: Install Gitlab
  ansible.builtin.include_tasks: gitlab.yml

- name: Install RHBK
  ansible.builtin.include_tasks: keycloak.yml

- name: Install Red Hat Developer Hub
  ansible.builtin.include_tasks: redhat_developer_hub.yml

- name: Print Common Password
  agnosticd_user_info:
    msg: "{{ item }}"
  loop:
    - ""
    - "password: {{ common_password }}"
